.epic-designer-main {
  .ant-row > [name="draggable-range"] {
    display: flex;
    flex-wrap: wrap;
  }

  .ant-row-no-wrap > [name="draggable-range"] {
    flex-wrap: nowrap;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 8px;
  }

  .ant-select {
    width: 100%;
  }

  .epic-upload-image {
    .avatar-uploader > .ant-upload {
      width: 128px;
      height: 128px;
    }

    .ant-upload-select-picture-card i {
      font-size: 32px;
      color: #999;
    }

    .ant-upload-select-picture-card .ant-upload-text {
      margin-top: 8px;
      color: #666;
    }
  }
}

// 适配k-input-size样式
.epic-input-size {
  &.ant-input-affix-wrapper {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .ant-select:hover {
    border: none !important;
    box-shadow: none !important;
  }
}


