// 主色
@primary-color: #13c2c2;
// 编辑视图背景色
@edit-view-bg : #1e1e1e;
// 属性视图背景色
@view-bg      : #f2f2f2;
// 拖拽区域背景色
@edit-bg      : white;

// 活动视图切换器背景色
@action-bar-bg: #eee;
// 顶部颜色
@header-bg    : #e2e2e2;
// 主要文本颜色
@text-main    : #333;
// 提示文本颜色
@text-tips    : #13c2c2;


// 黑暗主题 start 
// 主色
// @primary-color: #13c2c2;
// // 编辑视图背景色
// @edit-view-bg : #1e1e1e;
// // 属性视图背景色
// @view-bg      : #252526;
// // 活动视图切换器背景色
// @action-bar-bg: #333;
// // 顶部颜色
// @header-bg    : #444;
// // 主要文本颜色
// @text-main    : #ccc;
// // 提示文本颜色
// @text-tips    : white;
// 黑暗主题 end 