// 组件选择面板
.k-component-view {

  [name="list"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0 10px;

    .source-componet-item {
      cursor: pointer;
      border: 1px solid @border-color;
      padding: 0 10px;
      height: 32px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      font-size: 14px;
      .iconfont {
        margin-right: 5px;
      }

      // 宫格布局 start
      // height: 70px;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // border-radius: 4px;
      // .iconfont {
      //   margin-bottom: 6px;
      //   font-size: 20px;
      // }
      // 宫格布局 end

      &:hover {
        border-color: @primary-color;
        color: @primary-color;
      }
    }
  }
}
