:root {
  // 字体大小
  --ep-text-sm: 12px;
  --ep-text-md: 14px;
  --ep-text-lg: 16px;
  // 圆角
  --ep-radius: 6px;
  /* 背景色 */
  --ep-background: oklch(0.99 0.002 255);
  /* 前景色 */
  --ep-foreground: oklch(0.141 0.008 255); 
  /* 主色调 */
  --ep-primary: oklch(0.56 0.21 262);
  /* 主色调前景 */
  --ep-primary-foreground: oklch(0.97 0.014 254.604);
  /* 辅助色调 */
  --ep-secondary: oklch(0.967 0.003 255);
  --ep-secondary-foreground: oklch(0.21 0.006 255);
  /* 柔和色调 */
  --ep-muted: oklch(0.967 0.003 255);
  /* 柔和色调前景 */
  --ep-muted-foreground: oklch(0.552 0.016 255);
  /* 警示色调 */
  --ep-destructive: oklch(0.577 0.245 27.325);
  /* 边框与分隔线 */
  --ep-border: oklch(0.92 0.006 255);
  /* 侧边栏背景 */
  --ep-sidebar: oklch(0.985 0.002 255);
}

.dark {
  /* 背景色 */
  --ep-background: oklch(0.141 0.005 255);
  /* 前景色 */
  --ep-foreground: oklch(0.985 0.002 255);
  /* 主色调 */
  --ep-primary: oklch(0.64 0.22 262);
  /* 主色调前景 */
  --ep-primary-foreground: oklch(0.97 0.014 254.604);
  /* 辅助色调 */
  --ep-secondary: oklch(0.274 0.008 255);
  /* 辅助色调前景 */
  --ep-secondary-foreground: oklch(0.985 0.002 255);
  /* 柔和色调 */
  --ep-muted: oklch(0.274 0.008 255);
  /* 柔和色调前景 */
  --ep-muted-foreground: oklch(0.705 0.015 255);
  /* 警示色调 */
  --ep-destructive: oklch(0.704 0.191 22.216);
  /* 边框与分隔线 */
  --ep-border: oklch(1 0 0 / 12%);
  /* 侧边栏背景 */
  --ep-sidebar: oklch(0.21 0.008 255);
}
