:root {
  // 字体大小
  --ep-text-sm: 12px;
  --ep-text-md: 14px;
  --ep-text-lg: 16px;
  // 圆角
  --ep-radius: 6px;
  /* 背景色 */
  --ep-background: oklch(1 0 0);
  /* 前景色 */
  --ep-foreground: oklch(0.141 0.005 285.823);
  /* 主色调 */
  --ep-primary: #1677ff;
  /* 浅紫色前景 */
  --ep-primary-foreground: oklch(0.97 0.014 254.604);
  /* 辅助色调 */
  --ep-secondary: oklch(0.967 0.001 286.375);
  --ep-secondary-foreground: oklch(0.21 0.006 285.885);
  /* 柔和色调 */
  --ep-muted: oklch(0.967 0.001 286.375);
  /* 柔和色调前景 */
  --ep-muted-foreground: oklch(0.552 0.016 285.938);
  /* 警示色调 */
  --ep-destructive: oklch(0.577 0.245 27.325);
  /* 边框与分隔线 */
  --ep-border: oklch(0.92 0.004 286.32);
  /* 侧边栏背景 */
  --ep-sidebar: oklch(0.985 0 0);
}

.dark {
  /* 背景色 */
  --ep-background: oklch(0.141 0.005 285.823);
  /* 前景色 */
  --ep-foreground: oklch(0.985 0 0);
  /* 主色调 */
  --ep-primary: oklch(0.623 0.214 259.815);
  /* 主色调前景 */
  --ep-primary-foreground: oklch(0.97 0.014 254.604);
  /* 辅助色调 */
  --ep-secondary: oklch(0.274 0.006 286.033);
  /* 辅助色调前景 */
  --ep-secondary-foreground: oklch(0.985 0 0);
  /* 柔和色调 */
  --ep-muted: oklch(0.274 0.006 286.033);
  /* 柔和色调前景 */
  --ep-muted-foreground: oklch(0.705 0.015 286.067);
  /* 警示色调 */
  --ep-destructive: oklch(0.704 0.191 22.216);
  /* 边框与分隔线 */
  --ep-border: oklch(1 0 0 / 10%);
  /* 侧边栏背景 */
  --ep-sidebar: oklch(0.21 0.006 285.885);
}
