@font-face {
  font-family: "epic-iconfont"; /* Project id 3853801 */
  src: url('iconfont.woff2?t=1699374961981') format('woff2'),
       url('iconfont.woff?t=1699374961981') format('woff'),
       url('iconfont.ttf?t=1699374961981') format('truetype');
}


.epic-icon-fangda:before {
  content: "\e632";
}

.epic-icon-shangchuan:before {
  content: "\e6c7";
}

.epic-icon-zaixianjiance:before {
  content: "\e616";
}

.epic-icon-gaojingguanli:before {
  content: "\e61c";
}

.epic-icon-gaojing:before {
  content: "\e61d";
}

.epic-icon-dayin:before {
  content: "\e621";
}

.epic-icon-qiandaoxinxi:before {
  content: "\e625";
}

.epic-icon-shezhi:before {
  content: "\e626";
}

.epic-icon-neirongshezhi:before {
  content: "\e61e";
}

.epic-icon-duihua:before {
  content: "\e622";
}

.epic-icon-dabaoxiazai:before {
  content: "\e624";
}

.epic-icon-zhengque:before {
  content: "\e628";
}

.epic-icon-chuangkou:before {
  content: "\e629";
}

.epic-icon-shezhi1:before {
  content: "\e62a";
}

.epic-icon-fuzhi:before {
  content: "\e62f";
}

.epic-icon-cunchu:before {
  content: "\e630";
}

.epic-icon-wangge:before {
  content: "\e631";
}

.epic-icon-bofang:before {
  content: "\e63a";
}

.epic-icon-diyinliang:before {
  content: "\e63c";
}

.epic-icon-tiaozheng:before {
  content: "\e63d";
}

.epic-icon-shangjiantou:before {
  content: "\e617";
}

.epic-icon-xiajiantou:before {
  content: "\e618";
}

.epic-icon-youjiantou:before {
  content: "\e619";
}

.epic-icon-zuojiantou:before {
  content: "\e61b";
}

.epic-icon-daliebiao:before {
  content: "\e600";
}

.epic-icon-dasuolvetuliebiao:before {
  content: "\e601";
}

.epic-icon-liebiao:before {
  content: "\e602";
}

.epic-icon-tuwenxiangqing:before {
  content: "\e603";
}

.epic-icon-a-pingbantoubu:before {
  content: "\e656";
}

.epic-icon-a-shoujitoubu:before {
  content: "\e657";
}

.epic-icon-a-diannaotoubu:before {
  content: "\e655";
}

.epic-icon-daibanshixiang:before {
  content: "\ec4e";
}

.epic-icon-mima:before {
  content: "\e669";
}

.epic-icon-baocun:before {
  content: "\e6a3";
}

.epic-icon-baocun1:before {
  content: "\e6a2";
}

.epic-icon-baocun2:before {
  content: "\e79e";
}

.epic-icon-yanse:before {
  content: "\e678";
}

.epic-icon-tuozhuai:before {
  content: "\e614";
}

.epic-icon-chaxun:before {
  content: "\e660";
}

.epic-icon-tianjia:before {
  content: "\e620";
}

.epic-icon-tianjia1:before {
  content: "\e740";
}

.epic-icon-yulan:before {
  content: "\e668";
}

.epic-icon-fanhui2x:before {
  content: "\e62c";
}

.epic-icon-chexiao2x:before {
  content: "\e62e";
}

.epic-icon-shangchuan1:before {
  content: "\e62b";
}

.epic-icon-zhankai:before {
  content: "\e68b";
}

.epic-icon-fuzhi3:before {
  content: "\e643";
}

.epic-icon-shanchu1:before {
  content: "\e627";
}

.epic-icon-circular:before {
  content: "\e667";
}

.epic-icon-gengduo:before {
  content: "\e73a";
}

.epic-icon-daima1:before {
  content: "\e761";
}

.epic-icon-mokuai_1:before {
  content: "\e63b";
}

.epic-icon-LC_icon_edit_line_1:before {
  content: "\e65b";
}

.epic-icon-chaifen:before {
  content: "\e653";
}

.epic-icon-danxuanxuanzhong:before {
  content: "\e62d";
}

.epic-icon-ai-code:before {
  content: "\e606";
}

.epic-icon-duoxuan1:before {
  content: "\e66d";
}

.epic-icon-kaiguan3:before {
  content: "\e6da";
}

.epic-icon-biaoge:before {
  content: "\e63e";
}

.epic-icon-html:before {
  content: "\e693";
}

.epic-icon-menu:before {
  content: "\e605";
}

.epic-icon-edit:before {
  content: "\e607";
}

.epic-icon-calendar:before {
  content: "\e60a";
}

.epic-icon-download:before {
  content: "\e60b";
}

.epic-icon-upload:before {
  content: "\e60c";
}

.epic-icon-folder:before {
  content: "\e611";
}

.epic-icon-write:before {
  content: "\e612";
}

.epic-icon-gallery:before {
  content: "\e613";
}

.epic-icon-image:before {
  content: "\e61a";
}

.epic-icon-time:before {
  content: "\e633";
}

.epic-icon-button-add:before {
  content: "\e637";
}

.epic-icon-button-remove:before {
  content: "\e638";
}

.epic-icon-qiapian:before {
  content: "\e674";
}

.epic-icon-zhage:before {
  content: "\e63f";
}

.epic-icon-danxuan-cuxiantiao:before {
  content: "\e676";
}

.epic-icon-xiala:before {
  content: "\e640";
}

.epic-icon-fengexian:before {
  content: "\ec7f";
}

.epic-icon-zihao:before {
  content: "\e623";
}

.epic-icon-juxingkaobei:before {
  content: "\e7a5";
}

.epic-icon-edit1:before {
  content: "\e72a";
}

.epic-icon-pingfen_moren:before {
  content: "\e877";
}

.epic-icon-edit-:before {
  content: "\e83b";
}

.epic-icon-number:before {
  content: "\e639";
}

.epic-icon-zu:before {
  content: "\e615";
}

.epic-icon-guanlian:before {
  content: "\e61f";
}

.epic-icon-tabs:before {
  content: "\e8cd";
}

.epic-icon-chexiao:before {
  content: "\e609";
}

.epic-icon-quanping:before {
  content: "\e60d";
}

.epic-icon-zhongzuo:before {
  content: "\e60e";
}

.epic-icon-zujian:before {
  content: "\e60f";
}

.epic-icon-bianji2:before {
  content: "\e610";
}

