
.ep-col-editor-item {
  background-color: var(--ep-secondary);
  padding: 8px;
  border-radius: var(--ep-radius);
}

.ep-col-editor-radio{
  border: 1px solid var(--ep-border);
  padding: 8px;
  border-radius: var(--ep-radius);
  margin-bottom: 8px;
}
