/* .vitepress/theme/custom.css */
:root {
  --vp-home-hero-name-color: #3e8bf2;

  --vp-button-brand-bg: #3e8bf2;
  --vp-button-brand-border: #63a1f3;

  --vp-button-brand-hover-bg: #3e8bf2dd;
  --vp-button-brand-hover-border: #63a1f3dd;

  --vp-c-brand-dark: var(--vp-button-brand-bg);

  

  --vp-home-hero-image-background-image: #007cf5;
  --vp-home-hero-image-filter: #00bffd;
  --vp-c-brand: #3e8bf2;


  --vp-custom-block-tip-border: #3e8bf280;
  --vp-custom-block-tip-text:#15335f;
  --vp-custom-block-tip-bg: #3e8bf20d;


}

/* 首页样式 start */
.VPHome .clip {
  background-image: -webkit-linear-gradient(left, #007cf5, #00bffd);
  -webkit-text-fill-color: transparent;

}

.image-container > .image-bg {

}
