.DocSearch-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: transparent;
    transition: border-color 0.25s;
  }
  @media (min-width: 768px) {
    .DocSearch-Button {
      justify-content: flex-start;
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 0 10px 0 12px;
      width: 100%;
      height: 40px;
      background-color: var(--vp-c-bg-alt);
    }
  }
  @media (max-width: 768px) {
    .DocSearch-Button-Keys {
      display: none;
    }
    .VPNavBarHamburger {
      height: 32px !important;
      width: 32px !important;
      border-radius: 4px;
    }
  }
  .DocSearch-Button:hover {
    background-color: #f5f5f6;
  }