// 属性编辑
.epic-attribute-view,
.epic-style-view {
  padding: 16px;
  .epic-attr-item {
    display: flex;
    // align-items  : center;
    margin-bottom: 12px;

    &.vertical {
      display: block;
    }

    // &:hover{
    //   background-color: var(--epic-primary-color);
    // }
    .epic-attr-label {
      width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: var(--epic-text-sm);
      line-height: 32px;
    }

    .epic-attr-input {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}

.epic-designer-main .el-collapse .el-collapse-item__header {
  box-sizing: border-box;
}
