.el-input {
    width: 100% !important;
}

// 表单样式
.el-form--inline {
    [name="draggable-range"] {
        display: flex;
        flex-wrap: wrap;
    }

    .el-form-item__content{
        width: 175px;
    }
}

// 折叠面板
.el-collapse{
    .el-collapse-item__header{
        height: 36px;
        background: #eee;
        padding-left: 12px;
    }
    .el-collapse-item__content{
        padding: 0;
    }
}
